@model Model.Model.Role

@using (Html.BeginForm("Export", "Home", FormMethod.Post)) { 
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="View report" class="btn btn-default" />
            </div>
        </div>
    </div>
}
