
@{
    ViewBag.Title = "Index";
}
<div class="row" ng-controller="UserController">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Tài khoản</h3>
                <div class="card-tools">
                    @*<button type="button" class="btn btn-" ng-click="add()">
                        <i class="fas fa-plus"></i> Tìm kiếm
                    </button>*@
                    <button type="button" class="btn btn-primary" ng-click="add()">
                        <i class="fas fa-plus"></i> Thêm mới
                    </button>
                    <button type="button" class="btn btn-primary">
                        <i class="fas fa-sync-alt"></i> Làm mới
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width:10px;">STT </th>
                            <th style="width:100px;" class="sort sorting" ng-click="Sort($event, 'UserName')">Tên đăng nhập </th>
                            <th style="width:300px;" class="sort sorting" ng-click="Sort($event, 'Name')">Họ và tên </th>
                            <th style="width:100px;" class="sort sorting" ng-click="Sort($event, 'Phone')">Số điện thoại </th>
                            <th style="width:100px;" class="sort sorting" ng-click="Sort($event, 'UserGroup')">Nhóm quyền </th>
                            <th style="width:100px;" class="sort sorting" ng-click="Sort($event, 'Address')">Địa chỉ </th>
                            <th style="width:70px;" class="sort sorting" ng-click="Sort($event, 'Status')">Trạng thái</th>
                            <th style="width:70px;">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in ListUser" ng-click="ViewDetail(item.ID, $index)" ng-class="{activerow:$index==selectedRow}">
                            <td class="text-center">{{(10 * (modelSearch.currentPage-1)) + $index + 1}}</td>
                            <td>{{item.UserName}}</td>
                            <td>{{item.Name}}</td>
                            <td>{{item.Phone}}</td>
                            <td>{{item.Role}}</td>
                            <td>{{item.Address}}</td>
                            <td class="text-center">{{item.Status == true ? 'Sử dụng' : 'Không sử dụng'}}</td>
                            <td class="text-center">
                                <button type="button" class="btn btn-sm btn-primary" ng-click="edit(item.ID)">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-danger" ng-click="delete(item.ID, item.UserName)">
                                    <i class="fas fa-times"></i>
                                </button>
                                @*<a href="#" ng-click="edit(item.ID)" ng-show="RoleBtnUpdate == true" title="Cập nhật tài khoản">
                                    <span class="mdi mdi-pencil"></span>
                                </a>
                                <a href="#" ng-click="delete(item.ID, item.UserName)" ng-show="RoleBtnDelete == true" title="Xóa tài khoản">
                                    <span class="mdi mdi-window-close"></span>
                                </a>*@
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ul class="pagination pagination-sm m-0 float-right" uib-pagination total-items="modelSearch.totalItems" items-per-page="modelSearch.pageSize" ng-model="modelSearch.currentPage" ng-change="pageChanged()" max-size="modelSearch.maxSize" class="pagination-sm" boundary-links="true" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
@section scripts{
    <script src="~/app/Controller/UserController.js"></script>
}
